

.custom-navbar {
  background-color: #0A679E !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.navbar-nav .nav-link {
  color: #d5d5d5 !important;
}

.navbar-nav .nav-link.active {

  font-weight: bold;
}

.btn-outline-danger {
  background-color: #FF4C4C;
  color: #ffffff;
  border-color: #FF4C4C;
}

.btn-outline-danger:hover {
  background-color: #D12D2D;
  color: #ffffff;
  border-color: #D12D2D;
}

.login-image img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
