
body{
  color: #2f2f2f;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a8a8a8;
}

.login-box {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #717171;
  text-align: center;
}


.login-image img {
  width: 256px;
  height: 256px;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #0A679E;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #007bc1;
}
lable{
  font-family: "Berlin Sans FB Demi", serif;
  font-style: oblique;
}
